

<%- column_div :type => :primary do -%>
  
  <%- if logged_in? -%>
  <h2>Portfolio</h2><br />
  <table>
  <tr><td>Available Cash:	</td><td><%= number_to_currency current_person.current_cash %></td></tr>
  <tr><td>Net Worth:	</td><td><%= number_to_currency current_person.net_worth %></td></tr>
  </table>

  <h2>Stock List</h2>
  <table>
    <thead>
      <th>Company name</th>
      <th>Ticker</th>
      <th>Quantity</th>
      <th>Last Price</th>
      <th>Profit</th>
    </thead>
    <tbody>
      <%- @stocks.each do |stock| %>
	    <tr><td><%= stock[:name] %></td>
        <td><%= stock[:ticker] %></td>
        <td><%= Float(stock[:quantity]) %></td>
        <td><%= number_to_currency stock[:last] %></td>
        <td><%= number_to_currency stock[:profit] %></td>
        </tr>
      <%- end %>
    </tbody>
  </table>    
  <h2>Watch List</h2>
  
  <%- else -%>
  	<h2>Hello and welcome to The Start-Up Exchange</h2>
  	<p>The startup exchange will be a tool for propagating entrepreneurial ideas for start-ups through your social network, we help you catalyzing the support needed to get the idea off the ground.</p>

	<p>Participants can browse for ideas, give feedback, recommend a team-mate or introduce to an investor as well as compete with their friends to see who has the most influence through the trading game.
	</p>

	<p>The startup exchange is currently under development.  We hope to soft-launch in early August. </p>
	
  <%- end -%> 
   
  <%= render :partial => 'feed' %>
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => "searches/box" %>
  <%- if logged_in? -%>
    <%= render :partial => 'shared/quick_trade' %>
    <%= render :partial => 'requested_contacts' %>
    <%= render :partial => 'messages_preview' %>
    <%= render :partial => 'shared/contacts_preview',
               :locals => { :person => current_person } %>
  <%- else -%>
    <%- unless global_prefs.app_name.blank? -%>
    
      
      <h2>About <%= global_prefs.app_name %></h2>
<p>
        <%= link_to "Click here", about_path %>
        to learn more about us.
      </p>
    <%- end -%>
    
    <h2>Join
      <%= global_prefs.app_name.blank? ? "the site" : global_prefs.app_name %>
    </h2>
    
    <div style="text-align: center;">
      <%= link_to image_tag("button_signup.png"), signup_path %>
    </div>
    
    <h2>Sign in!</h2>
	
	<% form_tag session_path do -%>
    <div class="form_row">
      <label for="username">Email address</label>
      <%= text_field_tag 'email', params[:email],
                                  :maxlength => Person::MAX_EMAIL  %>
    </div>
    <%= set_focus_to_id "email" %>

    <div class="form_row">
      <label for="password">Password</label>
      <%= password_field_tag 'password', params[:password],
                                         :maxlength => Person::MAX_PASSWORD %>
    </div>

    <div class="form_row">
      <label for="remember_me" class="checkbox">Remember me:</label>
      <%= check_box_tag 'remember_me', '1', true, :class => "checkbox" %>
    </div>

    <div class="form_row">
      <%= submit_tag 'Sign in', :class => "button" %>
    </div>

    <p class="form_row">
      <%= link_to "I forgot my password!", new_password_reminder_path %>
    </p>
  <% end -%>
      
  <%- end -%>
<%- end -%>