<%- column_div :type => :primary do -%>
  
  <h2>This is the list of currently active companies:</h2>

  <table>
    <thead>
      <th>Company name</th>
      <th>Ticker</th>
      <th>Last price</th>
      <th>Week change</th>
      <th>Daily volume</th>
    </thead>
    <tbody>
      <%- for company in @companies %>
        <tr>
        <td><%= company.name %></td>
        <td><%= link_to company.ticker, :action => 'show', :id => company.id %></td>
        <td><%= company.last_price %></td>
        <td><%= company.week_change %>%</td>
        <td><%= company.vol_today %></td>
        </tr>
      <%- end -%>
    </tbody>
  </table>

  <%= link_to 'Create New Company', :action => 'new' %><br />
  <%= link_to 'Create New Catagory', :controller => 'catagory', :action => 'new' %><br />
<%- end -%>

<%- column_div :type => :secondary do -%>
  <h2>Quick Trade</h2>
  <table>
    <%- form_tag(:controller => 'market', :action => "trade") do %>
    <tr><td>Ticker:</td>
    <td><%= text_field_tag(:ticker, params[:ticker], :size => 6) %></td></tr>
    <tr><td>Type:</td>
    <td><%= select_tag(:trade_type, options_for_select(%w{buy sell},params[:trade_type])) %></td></tr>
    <tr><td>Quantity:</td>
    <td><%= text_field_tag(:quantity, params[:quantity], :size => 6) %></td></tr>
    <tr><td></td><td><%= submit_tag 'Submit', :class => "button" %></td></tr>
  </table>
<%- end %>


<%- end -%>