<%- column_div :type => :primary do -%>

  <%= error_messages_for :company %>

  <% form_for @company do |f| -%>

  <div class="form_row">
    <label for="name">Name 
      <span class="small">(will be displayed)</span></label>
    <%= f.text_field :name, :maxlength => Company::MAX_NAME %>
  </div>

  <div class="form_row">
    <label for="ticker">Ticker</label>
    <%= f.text_field :ticker, :maxlength => Company::MAX_TICKER %>
  </div>

  <div class="form_row">
    <label for="sector">Sector</label>
    <%= f.text_field :sector, :maxlength => Company::MAX_SECTOR %>
  </div>
  
  <div class="form_row">
    <label for="sector">Date Founded</label>
    <%= f.date_select :date_founded %>
  </div>
  
  <div class="form_row">
    <label for="website">Website</label>
    <%= f.text_field :website, :maxlength => Company::MAX_WEBSITE %>
  </div>

  <div class="form_row">
    <label for="employees">Employees</label>
    <%= f.text_field :employees, :maxlength => Company::MAX_STRING %>
  </div>

  <div class="form_row">
    <label for="location">Location</label>
    <%= f.text_field :location, :maxlength => Company::MAX_STRING %>
  </div>

  <div class="form_row">
    <label for="funding">Funding</label>
    <%= f.text_field :funding, :maxlength => Company::MAX_STRING %>
  </div>  
  
  <div class="form_row">
    <label for="description">Description</label>
    <%= f.text_area :description, :cols => "30", :rows => "12" %>
  </div>

  
  <div class="form_row">
    <%= submit_tag 'Submit', :class => "button" %>
  </div>
  <% end %>
<%- end -%>
